.social-media-container {
  padding: $base-spacing 0 $small-spacing;

  @media (min-width: 704px) {
    padding: $base-spacing 0 0;
  }

  a:hover {
    color: $blue;
  }

  .fa {
    font-size: $h2-font-size;
    padding-right: $small-spacing;

    @media (min-width: 704px) {
      font-size: $h1-font-size;
    }

    @media (min-width: 1020px) {
      font-size: $h1-font-size * 1.2;
      padding-right: $base-spacing;
    }
  }

  .fa-heart {
    font-size: $base-font-size;
    padding-right: 0;
  }
}
