.info-container {
  margin-bottom: $base-line-height;
}

.img-container-2 {
  @include grid-container($custom-grid-large);
  @include grid-collapse;

  img {
    @include grid-column(6);
    &:nth-of-type(n+3){
      margin-top: 1rem;
    }
  }
}

.img-container-3 {
  @include grid-container($custom-grid-large);
  @include grid-collapse;

  img {
    @include grid-column(4);
  }
}

.img-container-4 {
  @include grid-container($custom-grid-large);

  img {
    @include grid-column(3);
    &:nth-of-type(n+5){
      margin-top: 1rem;
    }
  }
}

.full-width-img{
  max-width: 100%;
  padding: 0 1rem;
}

td,
th {
  text-align: center;
}

.video-wrapper ~ .img-container-2,
.img-spacing,
img ~ .img-container-2,
.img-container-2 ~ img {
  margin-top: 1rem;
}

$img-gallery: (
  columns: 4,
  gutter: 1rem,
);

$img-gallery-medium: (
  columns: 3,
  gutter: 1rem,
);

$img-gallery-small: (
  columns: 2,
  gutter: 1rem,
);

.img-grid {
  @include grid-collapse($img-gallery-small);
  @include grid-container;
  width: 100%;

  @media (min-width: 700px) {
    @include grid-collapse($img-gallery-medium);
  }
  @media (min-width: 1200px) {
    @include grid-collapse($img-gallery);
  }
}

.img-grid-item {
  @include grid-column(1, $img-gallery-small);

  @media (min-width: 700px) {
    @include grid-column(1, $img-gallery-medium);
  }

  @media (min-width: 1200px) {
    @include grid-column(1, $img-gallery);
  }
}

.img-item {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
