.case-study-container > h1 {
  margin: $small-spacing * 9 0 $base-spacing;
}

.desc-wrapper {
  margin: $base-spacing * 2 0;
}


.img-container-2 {
  @include grid-container($custom-grid-small);
  @include grid-collapse;

  @media (min-width: 704px) {
    @include grid-container($custom-grid-large);
    @include grid-collapse;
  }

  a {
    @include grid-column(12);
    margin-bottom: $base-spacing;
    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 704px) {
      @include grid-column(6);
      margin-bottom: 0;
      &:nth-of-type(n+3){
        margin-top: $base-spacing;
      }
    }
  }
}

.img-container-3 {
  @include grid-container($custom-grid-small);

  @media (min-width: 704px) {
    @include grid-container($custom-grid-medium);
  }
  @include grid-collapse;

  a {
    @include grid-column(6);
    margin-bottom: $base-spacing;
    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 704px) {
      @include grid-column(4);
      &:nth-of-type(n+10){
        margin-bottom: 0;
      }
    }
  }
}

.img-container-4 {
  @include grid-container($custom-grid-small);

  @media (min-width: 704px) {
    @include grid-container($custom-grid-medium);
  }

  @media (min-width: 1200px) {
    @include grid-container($custom-grid-large);
  }

  a {
    @include grid-column(6);
    margin-bottom: $base-spacing;
    &:nth-of-type(n+11) {
      margin-bottom: 0;
    }

    @media (min-width: 704px) {
      @include grid-column(4);
      &:nth-of-type(n+10){
        margin-bottom: 0;
      }
    }

    @media (min-width: 1200px) {
      @include grid-column(3);
      &:nth-of-type(n+9){
        margin-bottom: 0;
      }
    }
  }
}

a + .img-container-2 {
  margin-top: $base-spacing;
}

.img-container-2 + :not(p) {
  margin-bottom: $base-spacing;
}

.video-wrapper + .img-container-2 {
  margin-top: $base-spacing;
}

.img-spacing {
  margin: $base-spacing 0 0;
}

.full-width-img{
  max-width: 100%;
  padding: 0 $base-spacing;
}

.img-small {
   display: block;
   @media (min-width: 704px) {
     display: none;
   }
}

.img-full {
   display: none;
   @media (min-width: 704px) {
     display: block;
   }
}

td,
th {
  text-align: left;
  padding-left: $base-spacing;
  @media (min-width: 704px) {
    text-align: center;
    padding-left: 0;
  }
}

.tables {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;

  @media (min-width: 704px) {
    display: table;
    overflow-x: hidden;
  }
}

.tables {
  -webkit-overflow-scrolling: touch;
  background: radial-gradient(left, ellipse, rgba(255,89,103, .2) 0%, rgba(255,166,71, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(255,89,103, .2) 0%, rgba(255,166,71, 0) 75%) 100% center;
  background-size: 16px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

.tables td:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 24px 100%;
}

.tables td:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 24px 100%;
}

$img-gallery: (
  columns: 4,
  gutter: $base-spacing,
);

$img-gallery-medium: (
  columns: 3,
  gutter: $base-spacing,
);

$img-gallery-small: (
  columns: 2,
  gutter: $base-spacing,
);

.img-grid {
  @include grid-collapse($img-gallery-small);
  @include grid-container;
  width: 100%;

  @media (min-width: 704px) {
    @include grid-collapse($img-gallery-medium);
  }
  @media (min-width: 1200px) {
    @include grid-collapse($img-gallery);
  }
}

.img-grid-item {
  @include grid-column(1, $img-gallery-small);

  @media (min-width: 704px) {
    @include grid-column(1, $img-gallery-medium);
  }

  @media (min-width: 1200px) {
    @include grid-column(1, $img-gallery);
  }
}

.img-item {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 704px) {
    max-width: 70%;
  }

  @media (min-width: 1200px) {
    max-width: 55%;
  }
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
    -ms-touch-action: none;
    touch-action: none;
}

#imagelightbox-overlay {
			background: linear-gradient(135deg, $orange, $red);
      visibility: visible;
			opacity: 0.7;
			position: fixed;
			z-index: 9998;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
      transition: visibility 1s, opacity 1s;

      &.tic {
        visibility: hidden;
        opacity: 0;
      }
}

.noscroll {
  overflow: hidden;
}
