.AdagioScript-normal-italic {
	font-family: AdagioScript;
	font-weight: normal;
	font-style: italic;
}

.AdagioSans-bold-normal {
	font-family: AdagioSans;
	font-weight: bold;
	font-style: normal;
}
.AdagioSans-normal-normal {
	font-family: AdagioSans;
	font-weight: normal;
	font-style: normal;
}
