footer {
  background: no-repeat linear-gradient(135deg, $orange, $red);
  background-size: cover;
  width: 100%;
  padding: $base-line-height/2 0;

  @media (min-width: 700px) {
    padding: 0;
  }

  h2,
  p,
  a {
    color: $white;
  }

  .contacts-container {
    margin-bottom: $base-line-height;
  }
}

#green:active,
#green:focus,
#green:hover {
  color: $green;
}

#yellow:active,
#yellow:focus,
#yellow:hover {
  color: $yellow;
}

#blue:active,
#blue:focus,
#blue:hover {
  color: $blue;
}

#purple:active,
#purple:focus,
#purple:hover {
  color: $purple;
}
