footer {
  background: no-repeat linear-gradient(135deg, $orange, $red);
  background-size: cover;
  width: 100%;
  padding: $small-spacing 0;

  @media (min-width: 704px) {
    padding: 0;
  }
}

.contacts-container {
  margin: $base-spacing 0 $small-spacing * 3;

  & h2, p, a {
    color: $white;
  }

  @media (min-width: 704px) {
    margin: $small-spacing * 3 0 $base-spacing * 2;
  }
}

#green:active,
#green:focus,
#green:hover {
  color: ForestGreen;
}

#yellow:active,
#yellow:focus,
#yellow:hover {
  color: Gold;
}

#blue:active,
#blue:focus,
#blue:hover {
  color: DodgerBlue;
}

#purple:active,
#purple:focus,
#purple:hover {
  color: MediumOrchid;
}

.credit {
  font-family: $alt-font-family;
}
