$custom-grid-large: (
  columns: 12,
  gutter: 32px,
  media: 1189px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$custom-grid-medium: (
  columns: 8,
  gutter: 26px,
  media: 946px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$custom-grid-small: (
  columns: 4,
  gutter: 22px,
  media: 319px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

.grid-container {
  @include grid-container($custom-grid-small);
  padding: 0 $base-line-height;

  @media (min-width: 700px) {
    @include grid-container($custom-grid-medium);
    padding: 0;
    .hero-container,
    .case-summary-container,
    .contacts-container,
    .case-study-container,
    .projects-container {
      @include grid-column(10);
      @include grid-shift(1);
    }
	}

	@media (min-width: 1200px) {
    @include grid-container($custom-grid-large);
    max-width: 1020px;
    margin: 0 auto;
	}
}

img {
  display : block;
}
