.hero {
  display: flex;
  align-items: baseline;
  height: 100%;
  color: $secondary-font-color;

  background: linear-gradient(135deg, $orange, $red);
  background-size: 250% 250%;

  -webkit-animation: AnimationHero 10s ease infinite;
  -moz-animation: AnimationHero 10s ease infinite;
  animation: AnimationHero 10s ease infinite;

  @-webkit-keyframes AnimationHero {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationHero {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationHero {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.hero-container {
  margin: $small-spacing * 5 0;

  @media (min-width: 704px) {
    margin: $base-spacing * 5 0;
  }

  @media (min-width: 1020px) {
    margin: $base-spacing * 10 0;
  }

}

.logo-container {
  margin: 0 0 $small-spacing;

  @media (min-width: 704px) {
    margin: 0 0 $base-spacing;
  }
}

.logo-name,
.logo-baseline {
  text-align: center;
  margin: 0;
}

.logo-name {
  font-family: $heading-font-family;
}

.announcement,
.logo-baseline {
  font-family: $secondary-heading-font-family;
}

.logo-baseline {
  line-height: $base-line-height * 2;
}
