.logo-container {
  margin: modular-scale(1) auto;

  @include media($medium-screen-up){
    margin: modular-scale(2) auto modular-scale(4);
  }

  @include media($large-screen-up){
    margin: modular-scale(1) auto modular-scale(3);
  }
}

.logo-name,
.logo-baseline {
  text-align: center;
}

.logo-name {
  font-family: AdagioSans;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: $base-font-size * 0.7;
  line-height: $base-line-height / 2;

  @include media($medium-screen-up){
    font-size: $base-font-size * 0.8;
  }

  @include media($large-screen-up){
    font-size: $base-font-size;
  }
}

.logo-baseline {
  font-family: AdagioScript;
  font-size: $base-font-size * 0.6;
  @include media($medium-screen-up){
    font-size: $base-font-size * 0.7;
  }

  @include media($large-screen-up){
    font-size: $base-font-size * 0.8;
  }
}
