section {
  margin: $small-spacing * 9 0;
  @media (min-width: 704px) {
    margin: $base-spacing * 5 0;
  }
}

article {
  margin-bottom: $base-spacing * 4;

  @media (min-width: 704px) {
    margin-bottom: $small-spacing * 9;
  }
}

.summary-container {
  @media (min-width: 704px) {
    display: flex;
    margin: $small-spacing 0 $small-spacing * 3;
    @include grid-collapse;

    .summary-info-wrapper{
      @include grid-column(4);
    }

    .summary-text-wrapper {
      @include grid-column(8);
    }
  }
}

.summary-text-wrapper {
  @media (min-width: 704px) {
   margin: 0;
  }
}

.details {
  font-family: $secondary-heading-font-family;
	margin-bottom: $small-spacing;

	@media (min-width: 704px) {
		margin-bottom: $base-spacing;
	}
}

.goto {
  text-align: left;
  @media (min-width: 704px) {
    text-align: right;
  }
}

.project-presentation-container {
  margin-bottom: $base-spacing * 2;

  & > h4 {
    margin-top: $small-spacing;
  }

  @media (min-width: 704px) {
    margin-bottom: $small-spacing * 9;

    & > h4 {
      margin-top: $base-spacing;
    }
  }

    @media (min-width: 1020px) {
      margin-bottom: $small-spacing * 9;

      & > h4 {
        margin-top: $small-spacing;
      }
  }
}
