.videos-container {
	@include grid-container($custom-grid-small);
	@include grid-collapse;

	@media (min-width: 700px) {
		@include grid-container($custom-grid-large);
		@include grid-collapse;
	}
}

.video-tile {
	@include grid-column(12);
	position: relative;
	padding-bottom: 47.35%;
	height: 0;
	margin-bottom: 1rem;
	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width: 700px) {
		@include grid-column(6);
		padding-bottom: 26.25%;
			&:nth-of-type(n+3) {
				margin-bottom: 0;
			}
		}
	}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.video-wrapper iframe,
.video-tile iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
