<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Marion Couesnon portfolio" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="grid-container">
      <div class="contacts-container">
        <h2><a href="https://ch.linkedin.com/in/marion-couesnon-838a09a0" id="green">Restons en contact <i class="fa fa-circle" aria-hidden="true"></i></a>&#8239;! Vous pouvez consultez <a href="assets/images/cv-fr.pdf" id="yellow">mes faits d'armes <i class="fa fa-file-text" aria-hidden="true"></i></a>&#8239;, <a href="http://www.twitter.com/marioncouesnon" id="blue">gazouiller gaiement avec moi
        <i class="fa fa-twitter" aria-hidden="true"></i></a>ou même
        <a href="mailto:marioncouesnon@gmail.com" id="purple">me proposer d'aller boire un thé<i class="fa fa-coffee" aria-hidden="true"></i></a>.
        </h2>
        <p class="credits">Ce site web a été codé avec <i class="fa fa-heart" aria-hidden="true"></i> et une pincée de jus de cerveau.</p>
      </div>
    </div>
  </footer>
</html>
