<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Marion Couesnon portfolio" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="grid-container">
      <div class="contacts-container">
        <h2><a href="https://fr.linkedin.com/in/marion-couesnon-838a09a0" id="green">Let's keep in touch!</a> Feel free to have a glance at <a href="assets/images/cv-eng.pdf" id="yellow">my feats of arms</a>, <a href="http://www.twitter.com/marioncouesnon" id="blue"> joyfully tweet with me</a> or even <a href="mailto:marioncouesnon@gmail.com" id="purple">invite me for tea time</a>.
      </h2>
        <p class="credit">This website was coded with <i class="fa fa-heart" aria-hidden="true"></i> and a drop of brain juice.</p>
      </div>
    </div>
  </footer>
</html>
