a[role] {
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  color: $secondary-font-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
  line-height: $base-line-height * 2;
  padding: $base-spacing $small-spacing;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @media (min-width: 704px) {
    padding: $small-spacing $small-spacing;
    transition: background-color $base-duration $base-timing;
    font-size: $base-font-size * 1.2;
    padding: $base-spacing;
  }

  &:link {
    background: linear-gradient(135deg, $orange, $red);
    background-size: 150% 150%;
  }

  &:visited {
    background-color: $blue;
    border: $base-border;
  }

  &:hover {
      background: linear-gradient(135deg, $orange, $red);
      background-size: 250% 250%;
      -webkit-animation: AnimationButton 2s ease infinite;
      -moz-animation: AnimationButton 2s ease infinite;
      animation: AnimationButton 2s ease infinite;

      @-webkit-keyframes AnimationButton {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
      @-moz-keyframes AnimationButton {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
      @keyframes AnimationButton {
          0%{background-position:0% 50%}
          50%{background-position:100% 50%}
          100%{background-position:0% 50%}
      }
  }

  &:active {
    cursor: wait;
    box-shadow: $form-box-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $red;
    text-decoration: line-through $white;
  }
}
