---
layout: case-study
---
<main role="main" class="dark-background">
  <!-- <div class="grid-container"> -->
    <section class="archive-container">
      <h3>Lost in the galaxy</h3>
      <p class="details">This archive is a list of all the  projects I’ve been involved in since I started to work in the field. I made it to keep a record of what I’ve done, when and with whom. Also, I believe it’s a great opportunity to play with datavisualization (coming soon). Feel free to dig in.</p>

      <div class="projects-list-wrapper">
        <details>
          <summary>2018</summary>
            <ul class="project-list">
              <li>
                <h4>Datavisualization</h4>
                <p>A live drawing and datavisualization of a debate about the Éphémèride project, that deals with neuro-evolutionary diseases. Made with and for Max Mollon.</p>
                <small>&mdash; live drawing, data visualization</small>
              </li>
              <li>
                <h4>50 years</h4>
                <p>Illustrated invitation for a birthday, made for printed card and email.</p>
                <small>&mdash; illustration, page layout</small>
              </li>
              <li>
                <h4>Portfolio website</h4>
                <p>Professional website showcasing my recent work - Version 2.</p>
                <small>&mdash; UX design, UI design, code</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2017</summary>
            <ul class="project-list">
              <li>
                <h4>Catalogue DSAA</h4>
                <p>Publication of 2016 graduate projects and experiences. Made with Amelie Bernardo Kent, comissionned by Pôle Supérieur de Design.</p>
                <small>&mdash; graphic design, page layout</small>
              </li>
              <li>
                <h4><a href="http://www.marioncouesnon.com/hypertext/">From Pandora to Post-it</a></h4>
                <p>Master thesis &#8470;2, exploring through a designed methodology what our strategies for explorating Wikipedia tell about the way the hypertext is built.</p>
                <small>&mdash; UX research, code, page layout</small>
              </li>
              <li>
                <h4><a href="http://saloneludico.ch/">Salone Ludico</a></h4>
                <p>A website I coded with Patrick Arthur Donaldson to promote MD exhibition at Salone del Mobile (Milan).</p>
                <small>&mdash; code</small>
              </li>
              <li>
                <h4><a href="http://www.marioncouesnon.com/deadline/">Deadline</a></h4>
                <p>Hybrid game presented at Salone del Mobile (Milan). To play, you have to become a graphic designer and complete a mission before the deadline. Made with Valérie Pierrehumbert at Media Design.</p>
                <small>&mdash; game design, UX design, UI design</small>
              </li>
              <li>
                <h4><a href="http://www.marioncouesnon.com/crossroads/">Crossroads</a></h4>
                <p>MA graduation project. An interactive apparatus aiming to collect and exhibit people's journeys inside the hypertext.</p>
                <small>&mdash; UX design, code</small>
              </li>
              <li>
                <h4>Portfolio website</h4>
                <p>Professional website showcasing my recent work.</p>
                <small>&mdash; UX design, UI design, code</small>
              </li>
              <li>
                <h4>Slides</h4>
                <p>Collaboration with Annie Gentès to create slides for a presentation she gave at Telecom ParisTech.</p>
                <small>&mdash; graphic design, page layout</small>
              </li>
              <li>
                <h4><a href="https://www.qwantjunior.com/?l=en">Qwant</a></h4>
                <p>Projects under NDA made for Qwant Junior with Hugo Leloup.</p>
                <small>&mdash; UX research, UX design, UI design</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2016</summary>
            <ul class="project-list">
              <li>
                <h4>Sensible History</h4>
                <p>Master thesis &#8470;1, in partnership with CHRD (Centre historique de la Résistance et de la Déportation — Lyon), about using interactive apparatuses to help pass on History in museums.</p>
                <small>&mdash; UX research, interview, photograph, page layout</small>
              </li>
              <li>
                <h4>Tild</h4>
                <p>Collective publication inventoring projects of the 3rd DSAA promotion.</p>
                <small>&mdash; page layout</small>
              </li>
              <li>
                <h4>Ship-it</h4>
                <p>Website made for an event held at Craftsmen.</p>
                <small>&mdash; illustration, code</small>
              </li>
              <li>
                <h4>Craftsmen  tee-shirts</h4>
                <p>Screen printed  tee-shirt made for  my co-workers at Craftsmen. First screen printing project.</p>
                <small>&mdash; silk-screen printing</small>
              </li>
              <li>
                <h4>Discoparty</h4>
                <p>A collective tracklist app for partying made with Kévin Chavanne, Sylvain Gougouzian et Jimmy Brumant. Organized by La cuisine du Web.</p>
                <small>&mdash; code, graphic design</small>
              </li>
              <li>
                <h4><a href="http://www.marioncouesnon.com/mealcanteen/">Meal-Canteen</a></h4>
                <p>MVP (web and iOS) for a start-up that aims at reducing food waste in institutional and school catering.</p>
                <small>&mdash; UX research, UX design, front-end</small>
              </li>
              <li>
                <h4>Another boring report</h4>
                <p>Trainee year report made at Craftsmen for MA graduation.</p>
                <small>&mdash; page layout</small>
              </li>
              <li>
                <h4>Sensible Data</h4>
                <p>MA graduation project. Interactive apparatuses made in partnership with CHRD (Centre historique de la Résistance et de la Déportation — Lyon) with the help of Lionnel Radison and Kévin Vennitti.</p>
                <small>&mdash; UX design, prototype, code</small>
              </li>
              <li>
                <h4>Care App</h4>
                <p>App + API that gather environmental data to suggest the best route for cyclists and pedestrians. Made during Space App Challenge.</p>
                <small>&mdash; graphic design</small>
              </li>
              <li>
                <h4>DSAA Poster</h4>
                <p>Collaborative screen printed poster project I initiated with my class for our graduation. It was offered to all DSAA staff members and students.</p>
                <small>&mdash; silkscreen printing</small>
              </li>
              <li>
                <h4><a href="http://www.leadbtp.com/">LeadBTP</a></h4>
                <p>Rebranding and landing page for a start-up that provides a web app for construction industry. Made at Craftsmen.</p>
                <small>&mdash; branding, UI design, code, project management</small>
              </li>
              <li>
                <h4>Neptune Studio</h4>
                <p>Interactive apparatus made with Stéphane Daniel Schlup, Cécile Anderfuhren,  Juliette Chalard-Deschamps and Héloïse Gailing during a Museomix hackaton for Leman Museum in Nyon.</p>
                <small>&mdash; UX design, code</small>
              </li>
              <li>
                <h4>Fortune Coucou</h4>
                <p>Workshop during which Elsa Schneider, Israël Viadest, Ivan Gulizia, Julia Racsko and I prototyped a cuckoo clock that acts as a fortune-teller once you put your finger in its hole.</p>
                <small>&mdash; UX design, code</small>
              </li>
              <li>
                <h4>Interstice</h4>
                <p>Interactive apparatus resulting from a workshop made by Vincent Morrissey at HEAD — Genève with Mathilde Buenerd and Melissa Melmo.</p>
                <small>&mdash; UX design, voice edinting, photography</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2015</summary>
            <ul class="project-list">
              <li>
                <h4>Ophelia</h4>
                <p>Video experimentation with water, slow motion and timelapses.</p>
                <small>&mdash; filming, video editing</small>
              </li>
              <li>
                <h4>Luminous</h4>
                <p>A tangible and serious game. Children have to find and combine components to rediscover how each period of time was creating light. Made with Kévin Vennitti, Lisa Rauch, Laura Dousset, Mathias Salanon during La Casemate hackaton.</p>
                <small>&mdash; game design, motion design, branding</small>
              </li>
              <li>
                <h4><a href="https://www.youtube.com/watch?v=Yuvzxjey3vQ&list=PLjmVx0isItMHrq_k34D23Ig5oxJQlcyMU&index=5">O</a></h4>
                <p>Interactive apparatus made with Amélie Bernardo Kent and Amandine Prochillo during a workshop organized by  Erasme and Pôle Supérieur de Design de Villefontaine for Vaulx-en-Velin Planetarium.</p>
                <small>&mdash; UX design, page layout, video editing</small>
              </li>
              <li>
                <h4><a href="https://vimeo.com/131088000">YSL tint in oil</a></h4>
                <p>Motion design to advertise an interactive apparatus made by Soixante Circuits for YSL.</p>
                <small>&mdash; motion design, video editing</small>
              </li>
              <li>
                <h4>Mirage</h4>
                <p>Hybrid game where you have to change glass lenses to find an exit in an optically disturbing maze. Made with  Simon Chauvin, Gaël Bourhis, Romain Enselme and Adrien Mau.</p>
                <small>&mdash; concept, graphic design, protoype</small>
              </li>
              <li>
                <h4><a href="https://www.behance.net/gallery/53787551/COKE-Euro-2016">Coca-cola</a></h4>
                <p>Interactive apparatus designed for Coca-Cola & the Football World Cup at Soixante Circuit.</p>
                <small>&mdash; UX design</small>
              </li>
              <li>
                <h4><a href="https://vimeo.com/129524442">Thélès</a></h4>
                <p>Design fiction project made with Juliette Blond during a workshop organized by Max Mollon at Pôle Supérieur de Design de Villefontaine.</p>
                <small>&mdash; datavisualization, storyboard, filming, video editing</small>
              </li>
              <li>
                <h4><a href="http://railsgirls.webenvert.fr/">Rails Girls Saint-Étienne</a></h4>
                <p>Responsive version of  a website for an event helping girls to learn coding that was held  at Craftsmen.</p>
                <small>&mdash; code</small>
              </li>
              <li>
                <h4><a href="https://www.subleem.com/public/">Subleem</a></h4>
                <p>Design sprint made at Craftsmen for Subleem, a start-up that created a network to share make-up tips.</p>
                <small>&mdash; recording, prototype</small>
              </li>
              <li>
                <h4>Marketiq</h4>
                <p>Saas application for a print shop. Made at Craftsmen with Kévin Chavanne.</p>
                <small>&mdash; code, styleguide review</small>
              </li>
              <li>
                <h4><a href="http://www.jarringeffects.net/">JFX</a></h4>
                <p>MVP for an independent music label to help them better guide their musician. Made at Craftsmen with Kevin Chavanne and Mehdi Lahmam.</p>
                <small>&mdash; UX design, UI design</small>
              </li>
              <li>
                <h4>Casioli</h4>
                <p>Landing page and logo design for a start-up that provides food delivery homemade by amateur chefs.</p>
                <small>&mdash; UX design, UI design, branding, code</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2014</summary>
            <ul class="project-list">
              <li>
                <h4>Headache</h4>
                <p>Aggressive website asking oppressive users to take some distance with their screen. Designed during Popathon with Pierre Jullian de la Fuente, Hugo Mathy and Giulia Grotto.</p>
                <small>&mdash; UX design, voice recording</small>
              </li>
              <li>
                <h4><a href="http://www.marlisco.eu/watch-troubled-waters.en.html">MARLISCO</a></h4>
                <p>Webdocumentary about marine pollution made at Honkytonk Films with Isabelle Sylvestre.</p>
                <small>&mdash; UX design, UI design</small>
              </li>
              <li>
                <h4><a href="http://www.klynt.net/">Klynt</a></h4>
                <p>Design of a plugin for Kynt, an in-house webdocumentary tool, for visualizing each projects site map.</p>
                <small>&mdash; UX design, UI design</small>
              </li>
              <li>
                <h4>An endless dream</h4>
                <p>Webdocumentary project about the american dream. I interviewed about 60 people during my two-month trip in USA.</p>
                <small>&mdash; interviewing, filming, video editing</small>
              </li>
              <li>
                <h4><a href="https://vimeo.com/116477358">Raymond</a></h4>
                <p>Raymond is an interactive apparatus. It’s both a sleepy cat on your screen and a shaggy box on your desk. Cuddle the box and see what happen. Made with Clara Chaume, Hugo Morales and Quentin Lombard Donnet.</p>
                <small>&mdash; illustration, animation</small>
              </li>
              <li>
                <h4><a href="https://vimeo.com/116586143">Eco</a></h4>
                <p>An interactive apparatus that produce sounds in a train station according to the flows of travellers. Made with Adrien Sanchez.</p>
                <small>&mdash; UX design, filming, video editing, protoyping</small>
              </li>
              <li>
                <h4>Cristallo</h4>
                <p>Serious game for children made during a hackaton organised by La Casemate with Sabrina Vigil, Monika Bak Sienkiewicz and Adrien Sanchez.</p>
                <small>&mdash; game design, UI design</small>
              </li>
              <li>
                <h4>Harmonie</h4>
                <p>A web app to pair typefaces made during a workshop with Prototypo at Pôle Supérieur de Design.</p>
                <small>&mdash; UX design, UI design, code</small>
              </li>
              <li>
                <h4>SEB</h4>
                <p>Project under NDA involving UX research and interface design made with SEB at Pôle Supérieur de Design with Louise Feige, Julien Espagnon, Isabel Strich, Lisa Rauch and Clara Chaume.</p>
                <small>&mdash; UX research, UX design, prototype</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2013</summary>
            <ul class="project-list">
              <li>
                <h4>Histoire de parc</h4>
                <p>Immersive website allowing users to explore the flora and fauna of Le Jardin des Plantes, a garden in Paris. First website I programmed and designed.</p>
                <small>&mdash; webdesign, code</small>
              </li>
              <li>
                <h4><a href="http://www.lesjules.com/">Les Jules</a></h4>
                <p>Transmedia campaign including print advert and  promotional website for a service where you can  book someone to do home improvements for you. In partnership with  Les Jules.</p>
                <small>&mdash; graphic design, webdesign, code</small>
              </li>
              <li>
                <h4>Le livre des siècles</h4>
                <p>In situ serious game designed in partnership with the Palace of Fontainebleau. BA graduation project.</p>
                <small>&mdash; graphic design, UI design, code</small>
              </li>
              <li>
                <h4>Newsletters</h4>
                <p>Newsletters made for Bourgeois and other beauty brands at Onibi.</p>
                <small>&mdash; graphic design</small>
              </li>
              <li>
                <h4><a href="http://le-grand-incendie.nouvelles-ecritures.francetv.fr/">Le Grand Incendie</a></h4>
                <p>Executive work and press kit  for a webdocumentary on the successive wave of suicide through immolation on public places committed by people working in both public and private institutions in France. Made at Honkytonk Films.</p>
                <small>&mdash; video editing, page layout</small>
              </li>
              <li>
                <h4><a href="https://vimeo.com/80068388">On Screen Off Records</a></h4>
                <p>Webdocumentary project created by Rami Farah about the beginning  of the Syrian uprising in Deraa against Bashar al-Assad. It was made at Honkytonk Films and presented at IDFA.</p>
                <small>&mdash; branding, UX design, animation</small>
              </li>
            </ul>
        </details>
        <details>
          <summary>2012</summary>
            <ul class="project-list">
              <li>
                <h4><a href="https://www.youtube.com/watch?v=Ql7jeDX1Bug&t=97s">Matrix : du rêve à la réalité</a></h4>
                <p>A sweded version of Matrix emblematic scene where Neo goes for the first time in the matrix. Made in stop motion with Barbie dolls. Teammate were  Marie Champagnac and Claire Martin.</p>
                <small>&mdash; photography, doll animation, smoke making, singing</small>
              </li>
              <li>
                <h4>Paris s’éveille</h4>
                <p>Photographic and typographic publication about Paris. First edited book.</p>
                <small>&mdash; graphic design, photography</small>
              </li>
              <li>
                <h4>Mornings</h4>
                <p>A short film where I experimented with split screen to compare the morning routines of five different individuals.</p>
                <small>&mdash; storyboarding, filming, video editing</small>
              </li>
              <li>
                <h4>Outside TV</h4>
                <p>Visual identity for a fictional TV channel about extreme sports. First motion design work.</p>
                <small>&mdash; branding, motion design</small>
              </li>
              <li>
                <h4>Alice</h4>
                <p>Immersive website picturing the one chapter of Alice in Wonderland.  Made with Marie Champagnac and Claire Martin.</p>
                <small>&mdash; webdesign, illustration</small>
              </li>
              <li>
                <h4><a href="https://bayam.tv/fr/">Bayam</a></h4>
                <p>Layout guidelines, digital ads, tablet layouts and cover illustrations for Bayam at Bayard Presses.</p>
                <small>&mdash; illustration, page layout, code</small>
              </li>
            </ul>
        </details>
      </div>
    </section>
    <div class="nav-container">
      <% link_to '/' do %>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Home
      <% end %>
    </div>
</main>
