---
title: Waiting page
---

<div class="outer-container">
  <div class="logo-container">
    <div class="logo">
      <p class="logo-name">marion couesnon</p>
      <p class="logo-baseline">hyperactive designer</p>
    </div>
  </div>
  <div class="in-progress-text-container">
    <p class="intro">Hi folks! I am a french 25-year-old-girl currently attending a master class in Media Design in HEAD-Geneva (Switzerland). I am fond of typography, ergonomic interfaces and silkscreen printing. As a compulsively curious person, I am always learning new skills, which presently includes coding. By the way, I am actually rebuilding my website. While waiting for the release, why don't you have a look to <a href="../assets/images/cv-eng.pdf">my CV</a> or <a href="https://fr.pinterest.com/marioncouesnon/">my Pinterest boards?</a> You can also <a href="https://twitter.com/marioncouesnon">follow me on Twitter</a>. Thank you for your patience! <br><span>Marion.</span></p>
  </div>
</div>
<footer id="footer">
  <p class="credits">&copy; 2017, Marion Couesnon, All Rights Reserved.</p>
</footer>
